---
import { getEntry } from 'astro:content';
import { Icon } from '@/components/ui/Icon';
import { getLocaleFromUrl } from '@/utils/i18n/utils';
import type { HTMLAttributes } from 'astro/types';
import { unfurl } from 'unfurl.js';

type Props = HTMLAttributes<'a'>;

const locale = getLocaleFromUrl(Astro.url);
const { href, title: titleProp, ...props } = Astro.props;
const t = await getEntry('i18n', `${locale}/translation`);
const url = new URL(href ?? '');
const metadata = await unfurl(url.href).catch(() => undefined);
const favicon = metadata?.favicon;
const title =
  titleProp ??
  metadata?.open_graph.title ??
  metadata?.twitter_card.title ??
  metadata?.title ??
  url.hostname;
const description =
  metadata?.open_graph?.description ??
  metadata?.twitter_card?.description ??
  metadata?.description;
const image = {
  url:
    metadata?.open_graph.images?.[0]?.url ??
    metadata?.twitter_card?.images?.[0]?.url,
  alt:
    metadata?.open_graph?.images?.[0]?.alt ??
    metadata?.twitter_card?.images?.[0]?.alt ??
    `${title} ${t.data.link_card.image_fallback_alt}`,
};
---

<div class="double-border max-w-2xl h-32 my-7 md:my-10">
  <a
    href={url.href}
    class="
    h-full bg-default-reverse hover:bg-default-reverse-hover flex justify-between flex-nowrap overflow-hidden
    "
    {...props}
  >
    <div class="py-2 md:py-2.5 px-3.5 flex flex-col justify-between flex-[1_1_12rem] whitespace-nowrap overflow-hidden">
      <div class="flex flex-col gap-1 [&>*]:text-ellipsis [&>*]:overflow-hidden">
        <span class="text-lg md:text-xl font-bold">{title}</span>
        {description && <span class="text-sm font-light">{description}</span>}
      </div>
      <div class="text-base flex items-center gap-3">
        {
          favicon ? (
            <img class="w-5 h-5 rounded-full object-cover" alt={title} {title} src={favicon} />
          ) : (
            <Icon iconName="link" width={15} height={15} />
          )
        }
        <span>{url.hostname}</span>
      </div>
    </div>
    {
      image.url && (
        <div class="max-w-36 md:max-w-40 flex flex-[1_1_6rem] md:basis-28">
          <img
            src={image.url}
            alt={image.alt}
            title={image.alt}
            loading="lazy"
            class="object-cover w-full h-full"
          />
        </div>
      )
    }
  </a>
</div>
