---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { getCollection, getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { langList } from '@/utils/i18n/data'
import BulletinBoard from '@/components/BulletinBoard.astro'
import PhotoGallery from '@/components/PhotoGallery.astro'
import { getPhotos } from '@/lib/unsplash/getContent'
import { getPublishedSortedEntries } from '@/lib/content'
import { NEWS_MAXIMUM_COUNT } from '@/consts'

export const getStaticPaths = (() => {
  return langList.map((lang) => ({ params: { locale: lang } }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { locale } = Astro.params
const meta = await getEntry('meta', `${locale}/site-data`)
const newsList = getPublishedSortedEntries(await getCollection('news'))
const localeNewsList = newsList.filter(
  (news) => news.slug.slice(0, news.slug.indexOf('/')) === locale
)
const photos = await getPhotos()
const latestNews = localeNewsList.slice(0, NEWS_MAXIMUM_COUNT)
---

<BaseLayout
  title={meta.data.site.title}
  description={meta.data.site.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <BulletinBoard newsList={latestNews} />
    <PhotoGallery {photos} />
  </main>
</BaseLayout>
<style>
  main {
    display: flex;
    flex-direction: column;
    place-items: start;
    gap: 1.25rem;
  }
  @media (min-width: 1280px) {
    main {
      padding: 2.85rem 6.175rem 0 6.175rem;
      gap: 2.25rem;
    }
  }
</style>
