---
import { getEntry } from 'astro:content'
import { Taxonomy } from '@/components/Taxonomy'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getTags } from '@/lib/collections/data'
import { langList } from '@/utils/i18n/data'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (() => {
  return langList.map((lang) => ({ params: { locale: lang } }))
}) satisfies GetStaticPaths

const { locale } = Astro.params
const meta = await getEntry('meta', `${locale}/site-data`)
const t = await getEntry('i18n', `${locale}/translation`)
const tags = await getTags(locale)
---

<BaseLayout
  title={meta.data.blog.tags.title}
  description={meta.data.blog.tags.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <h1>{t.data.pages.blog.tags.title}</h1>
    <a class="classic-blue-link" href={`/${locale}/blog`}>
      ◀ {t.data.pages.blog.back_to_top}
    </a>
    <hr />
    <section class="tag-cloud">
      {tags.data.map((tag) => <Taxonomy kind="tags" taxonomy={tag} />)}
    </section>
  </main>
</BaseLayout>
<style>
  main {
    h1 {
      margin-bottom: 1.25rem;
    }
    .tag-cloud {
      display: flex;
      flex-wrap: wrap;
      gap: 1.25rem 0.95rem;
    }
  }
</style>
