---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCollection, getEntry } from 'astro:content'
import TaxonomyList from '@/components/TaxonomyList.astro'
import { langList } from '@/utils/i18n/data'
import { getPublishedSortedEntries } from '@/lib/collections/contents'

export const getStaticPaths = (() => {
  return langList.map((lang) => ({ params: { locale: lang } }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { locale } = Astro.params
const meta = await getEntry('meta', `${locale}/site-data`)
const t = await getEntry('i18n', `${locale}/translation`)
const entries = getPublishedSortedEntries(await getCollection('blog')).filter(
  (entry) => entry.slug.slice(0, entry.slug.indexOf('/')) === locale
)
const tags = [...new Set(entries.flatMap((entry) => entry.data.tags ?? []))]
---

<BaseLayout
  title={meta.data.blog.tags.title}
  description={meta.data.blog.tags.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <h1>{t.data.pages.blog.tags.title}</h1>
    <a class="back-to-link" href={`/${locale}/blog`}>
      ◀ {t.data.pages.blog.back_to_top}
    </a>
    <hr />
    <TaxonomyList kind="tags" taxonomyList={tags} />
  </main>
</BaseLayout>
<style>
  main {
    h1 {
      margin-bottom: 1.25rem;
    }
  }
</style>
