---
import { type CollectionEntry, getEntry } from 'astro:content';
import { Icon } from '@/components/ui/Icon';
import { DEFAULT_PAGINATION_WIDTH } from '@/lib/consts';
import { getLocaleFromUrl } from '@/utils/i18n/utils';
import type { Page } from 'astro';

type Props = {
  page?: Page<CollectionEntry<'blog' | 'news'>>;
};

const paginator = (
  curPageNum: number,
  totalPageNum: number,
  width: number = DEFAULT_PAGINATION_WIDTH,
) => {
  const prevEnd = curPageNum - width;
  const nextEnd = curPageNum + width;
  const ranges = [];

  for (let i = 1; i <= totalPageNum; i += 1) {
    if (curPageNum === 1) {
      if (i <= nextEnd) ranges.push(i);
    } else if (curPageNum === totalPageNum) {
      if (i >= prevEnd) ranges.push(i);
    } else {
      if (i >= prevEnd && i <= nextEnd) ranges.push(i);
    }
  }

  return ranges;
};

const currentPath = Astro.url.pathname;
const locale = getLocaleFromUrl(Astro.url);
const t = await getEntry('i18n', `${locale}/translation`);
const { page } = Astro.props;
---

{
  page !== undefined && (
    <nav class="flex justify-between items-center px-1.5 no-underline" data-pagefind-ignore="all">
      {page.url.prev ? (
        <a
          aria-label={t.data.pager.left_arrow_label}
          href={page.url.prev}
          class="text-accent hover:text-accent-dark"
        >
          <Icon iconName="left-arrow" width={25} height={25}/>
        </a>
      ) : (
        <Icon class="fill-zinc-400/90" iconName="left-arrow" width={25} height={25} />
      )}
      <ul class="text-xl flex gap-7 list-none text-zinc-400/90">
        {paginator(page.currentPage, page.lastPage).map((pg) => {
          if (pg === page.currentPage) {
            return <li>{pg}</li>
          } else {
            if (pg === 1) {
              return (
                <li>
                  <a
                    href={`/${currentPath.split('/').slice(1, -2).join('/')}/`}
                    class="text-accent hover:text-accent-dark"
                  >
                    {pg}
                  </a>
                </li>
              )
            } else {
              return (
                <li>
                  {page.currentPage === 1 ? (
                    <a
                      href={`/${currentPath.split('/').slice(1, -1).join('/')}/${pg}/`}
                      class="text-accent hover:text-accent-dark"
                    >
                      {pg}
                    </a>
                  ) : (
                    <a
                      href={`/${currentPath.split('/').slice(1, -2).join('/')}/${pg}/`}
                      class="text-accent hover:text-accent-dark"
                    >
                      {pg}
                    </a>
                  )}
                </li>
              )
            }
          }
        })}
      </ul>
      {page.url.next ? (
        <a
          aria-label={t.data.pager.right_arrow_label}
          href={page.url.next}
          class="text-accent hover:text-accent-dark"
        >
          <Icon iconName="right-arrow" width={25} height={25} />
        </a>
      ) : (
        <Icon class="fill-zinc-400/90" iconName="right-arrow" width={25} height={25} />
      )}
    </nav>
  )
}
