---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { getCollection, getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Pager from '@/components/Pager.astro'
import { LIMIT_PER_PAGE } from '@/lib/consts'

export const getStaticPaths = (async ({ paginate }) => {
  const entries = (await getCollection('blog')).sort(
    (a, b) => a.data.publishedAt.valueOf() - b.data.publishedAt.valueOf()
  )

  return paginate(entries, { pageSize: LIMIT_PER_PAGE })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const meta = await getEntry('meta', 'site-data')
const { page } = Astro.props
---

<BaseLayout
  title={meta.data.blog.title}
  description={meta.data.blog.description}
>
  <main>
    <section>
      <h1>Blog</h1>
      {
        page.data.length === 0 ? (
          <p>Woops! No entry found..</p>
        ) : (
          <>
            <ul class="entry-list">
              {page.data.map((entry) => (
                <li>
                  <article>
                    <span class="date">
                      <time datetime={entry.data.publishedAt.toISOString()}>
                        {new Intl.DateTimeFormat('en-US', {
                          year: 'numeric',
                          month: 'short',
                          day: 'numeric',
                        }).format(entry.data.publishedAt)}
                      </time>
                    </span>
                    <a href={`/blog/${entry.slug}`}>{entry.data.title}</a>
                    <span>{entry.data.description}</span>
                    <ul class="tag-list">
                      {entry.data.tags?.map((tag) => (
                        <li>
                          <a href="/">#{tag}</a>
                        </li>
                      ))}
                    </ul>
                  </article>
                </li>
              ))}
            </ul>
          </>
        )
      }
    </section>
    <Pager page={page} />
  </main>
</BaseLayout>
<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  ul.entry-list {
    display: grid;
    row-gap: 15px;
  }
  ul.entry-list > li {
    list-style: none;
    border: 1px solid black;
  }
  ul.entry-list article {
    display: grid;
    row-gap: 5px;
  }
  ul.tag-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding: 0;
  }
  ul.tag-list > li {
    list-style: none;
  }
</style>
