---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { getCollection, getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Pager from '@/components/Pager.astro'
import { LIMIT_PER_PAGE } from '@/lib/consts'

export const getStaticPaths = (async ({ paginate }) => {
  const entries = (await getCollection('blog')).sort(
    (a, b) => a.data.publishedAt.valueOf() - b.data.publishedAt.valueOf()
  )

  return paginate(entries, { pageSize: LIMIT_PER_PAGE })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const meta = await getEntry('meta', 'site-data')
const { page } = Astro.props
---

<BaseLayout
  title={meta.data.blog.title}
  description={meta.data.blog.description}
>
  <main>
    {
      page.data.length === 0 ? (
        <div>
          <p>Woops! No entry found..</p>
        </div>
      ) : (
        <>
          <ul>
            {page.data.map((entry) => (
              <li>
                <a href={`/blog/${entry.slug}`}>{entry.data.title}</a>
              </li>
            ))}
          </ul>
          <Pager page={page} />
        </>
      )
    }
  </main>
</BaseLayout>
