---
import type { GetStaticPaths } from 'astro'
import { getEntry } from 'astro:content'
import { BlogList } from '@/components/BlogList'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Pager } from '@/components/Pager'
import { LIMIT_PER_PAGE } from '@/consts'
import { getSortedContentEntries } from '@/lib/collections/contents'
import { defaultLang } from '@/utils/i18n/data'

export const getStaticPaths = (async ({ paginate }) => {
  const entries = await getSortedContentEntries('blog', defaultLang)

  return paginate(entries, {
    pageSize: LIMIT_PER_PAGE,
  })
}) satisfies GetStaticPaths

const { page } = Astro.props
const meta = await getEntry('meta', `${defaultLang}/site-data`)
const t = await getEntry('i18n', `${defaultLang}/translation`)
---

<BaseLayout
  title={meta.data.blog.title}
  description={meta.data.blog.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <section>
      <h1>{t.data.pages.blog.title}</h1>
      <div class="taxonomy-links">
        <a href="/blog/categories">
          {t.data.pages.blog.categories.title}
        </a>
        <a href="/blog/tags">
          {t.data.pages.blog.tags.title}
        </a>
        <a href="/blog/archive">
          {t.data.pages.blog.archive.title}
        </a>
      </div>
      <BlogList entries={page.data} kind="blog" />
    </section>
    <Pager page={page} />
  </main>
</BaseLayout>
<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    section {
      h1 {
        margin-bottom: 1.25rem;
      }
      .taxonomy-links {
        display: flex;
        flex-wrap: wrap;
        gap: 1.75rem;
        & a {
          font-size: 1.15rem;
          color: var(--accent);
          text-decoration: none;
          &:hover {
            color: var(--accent-dark);
          }
        }
      }
    }
  }
</style>
