---
import { getEntry } from 'astro:content';
import { BlogList } from '@/components/models/BlogList';
import { Pager } from '@/components/models/Pager';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getSortedContentEntries } from '@/lib/collections/contents';
import { LIMIT_PER_PAGE } from '@/lib/consts';
import { defaultLang } from '@/utils/i18n/data';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async ({ paginate }) => {
  const entries = await getSortedContentEntries('blog', defaultLang);

  return paginate(entries, {
    pageSize: LIMIT_PER_PAGE,
  });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const meta = await getEntry('meta', `${defaultLang}/site-data`);
const t = await getEntry('i18n', `${defaultLang}/translation`);
---

<BaseLayout
  title={meta.data.blog.title}
  description={meta.data.blog.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <section>
      <h1 class="text-4xl md:text-5xl font-extrabold">{t.data.pages.blog.title}</h1>
      <div class="taxonomy-links">
        <a href="/blog/categories">
          {t.data.pages.blog.categories.title}
        </a>
        <a href="/blog/tags">
          {t.data.pages.blog.tags.title}
        </a>
        <a href="/blog/archive">
          {t.data.pages.blog.archive.title}
        </a>
      </div>
      <BlogList
        entries={page.data}
        taxonomies={{ show: true, shouldDisplay: ['category', 'tags'] }}
      />
    </section>
    <Pager page={page} />
  </main>
</BaseLayout>
<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    section {
      h1 {
        margin-bottom: 1.25rem;
      }
      .taxonomy-links {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 0.95rem;
        & a {
          font-size: 1.025rem;
          color: var(--accent);
          text-decoration: none;
          &:hover {
            color: var(--accent-dark);
          }
          @media (min-width: 768px) {
            font-size: 1.15rem;
          }
        }
        @media (min-width: 768px) {
          gap: 0.75rem 1.5rem;
        }
      }
    }
  }
</style>
