---
import type { HTMLAttributes } from 'astro/types'
import type { SpectrumPoints } from './spectrum-gauge'
import { Icon } from '@/components/Icon'
import {
  endLabel,
  labelWrapper,
  gaugeWrapper,
  spectrumGauge,
  pointVariants,
} from './spectrum-gauge.css'

type Props = {
  leftEnd?: string
  rightEnd?: string
  value: SpectrumPoints
  // scale: 5
} & Omit<HTMLAttributes<'progress'>, 'value' | 'max'>

const { leftEnd, rightEnd, value, /* scale, */ ...props } = Astro.props
---

<div class={gaugeWrapper}>
  <div class={labelWrapper}>
    {
      leftEnd && rightEnd && (
        <>
          <div class={endLabel} class={endLabel}>
            <Icon iconName="left-arrow" width={18} height={18} />
            <span>{leftEnd}</span>
          </div>
          <Icon iconName="point" width={20} height={20} />
          <div class={endLabel} class={endLabel}>
            <span>{rightEnd}</span>
            <Icon iconName="right-arrow" width={18} height={18} />
          </div>
        </>
      )
    }
  </div>
  <progress
    class:list={[spectrumGauge, pointVariants[value]]}
    {value}
    max={4}
    {...props}
  >
  </progress>
</div>
