---
import { getEntry } from 'astro:content';
import { Image } from '@/components/elements/Figure';
import { ProfileIcon } from '@/components/ui/ProfileIcon';
import type { UnsplashPhoto } from '@/lib/unsplash/types';
import { getTimeDiff } from '@/utils/get-time-diff';
import { getLocaleFromUrl } from '@/utils/i18n/utils';
import { toSnakeCase } from '@/utils/to-snake-case';
import { blurhashToDataUri } from '@unpic/placeholder';

type Props = {
  photo: UnsplashPhoto;
  order: number;
};

const locale = getLocaleFromUrl(Astro.url);
const t = await getEntry('i18n', `${locale}/translation`);
const meta = await getEntry('meta', 'en/site-data');
const { photo, order } = Astro.props;
const {
  alt_description,
  blur_hash,
  description,
  created_at,
  links,
  urls,
  user,
  // height,
  // width,
} = photo;
const createdAt = new Date(created_at);
const dateDiff = getTimeDiff(createdAt, locale);
const placeholder = blurhashToDataUri(blur_hash ?? '');
---

<div class="
  bg-default-reverse hover:bg-default-reverse-hover
  max-w-full h-48 sm:h-60 flex flex-col
  gap-1.5 sm:gap-2 break-inside-avoid
  border-2 border-solid border-line-solid rounded-sm animate-fadeInUp
  xxs:max-w-32 xs:max-w-48 sm:max-w-56 md:max-w-72 xl:max-w-80
  "
>
  <a
    aria-label={`${t!.data.photo_gallery_item.photo_label}${order}`}
    href={`${links.html}?utm_source=${toSnakeCase(meta!.data.site.title)}&utm_medium=referral`}
    slot="image"
  >
    <Image
      class="w-full max-h-32 object-cover"
      alt={alt_description || description || ''}
      src={`${urls.raw}&fm=jpg&w=1080&q=75&fit=max`}
      {placeholder}
    />
  </a>
  <section slot="content" class="text-xs md:text-sm flex items-center flex-wrap justify-between gap-2 pt-0.5 md:pt-1.5 pb-1 md:pb-2 px-1 md:px-2">
    <div class="flex items-center gap-1.5 md:gap-2">
      <ProfileIcon
        alt={photo.user.username}
        src={photo.user.profile_image.small}
        size={20}
      />
      <span>{user.last_name}</span>
    </div>
    <span class="ml-2">
      {dateDiff}
    </span>
  </section>
</div>
