---
import '@/styles/pixelmplus.css';
import { getEntry } from 'astro:content';
import { LocalePicker } from '@/components/common/LocalePicker/LocalePicker';
import { Search } from '@/components/common/Search/Search';
import { Icon } from '@/components/ui/Icon';
import { Modal } from '@/components/ui/Modal/Modal';
import { getLocaleFromUrl, useTranslatedPath } from '@/utils/i18n/utils';
import NavLink from './NavLink.astro';
import NavMenuContainer from './NavMenuContainer.astro';

const locale = getLocaleFromUrl(Astro.url);
const translatePath = useTranslatedPath(locale);
const t = await getEntry('i18n', `${locale}/translation`);
---

<nav class="
  supports-[backdrop-filter]:backdrop-blur-sm
  supports-[backdrop-filter]:backdrop-saturate-180
  supports-[-webkit-backdrop-filter]:backdrop-blur-sm
  supports-[-webkit-backdrop-filter]:backdrop-saturate-180
  h-16 lg:h-dvh lg:w-72 fixed top-0 left-0 right-0 z-10 py-2 lg:py-7 px-5 lg:px-8 lg:m-0 lg:sticky
  flex lg:grid lg:gap-6 items-center lg:items-start justify-between box-border
  [&>a]:text-default [&>a]:no-underline
  lg:area-navigation lg:grid-areas-navigation
  lg:border-solid lg:border-[1px] lg:border-line-solid
  lg:grid-rows-[1fr_9fr]
  lg:grid-cols-[1fr]
  "
  data-pagefind-ignore="all">
  <a class="hidden xxs:font-pixelMPlus xxs:text-lg xxs:flex xxs:justify-center xxs:items-center lg:place-self-center lg:area-blog-title" href={translatePath('/')}>
    {t.data.blog_name}
  </a>
  <NavMenuContainer>
    <div class="
    flex flex-col lg:self-start gap-6 lg:gap-8 py-3 lg:p-0 px-11 ml-5 lg:ml-6"
    slot="inside-drawer">
      <NavLink class="relative text-lg active:font-bold hover:before:content-['▶'] hover:before:absolute hover:before:top-0 hover:before:-left-7 lg:hover:before:-left-6 hover:before:text-xl hover:before:self-center"
      href={translatePath('/')}>{t.data.nav.nav_links.home}</NavLink>
      <NavLink class="relative text-lg active:font-bold hover:before:content-['▶'] hover:before:absolute hover:before:top-0 hover:before:-left-7 lg:hover:before:-left-6 hover:before:text-xl hover:before:self-center"
      href={translatePath('/blog')}
        >{t.data.nav.nav_links.blog}</NavLink
      >
      <NavLink class="relative text-lg active:font-bold hover:before:content-['▶'] hover:before:absolute hover:before:top-0 hover:before:-left-7 lg:hover:before:-left-6 hover:before:text-xl hover:before:self-center"
      href={translatePath('/news')}
        >{t.data.nav.nav_links.news}</NavLink
      >
      <NavLink class="relative text-lg active:font-bold hover:before:content-['▶'] hover:before:absolute hover:before:top-0 hover:before:-left-7 lg:hover:before:-left-6 hover:before:text-xl hover:before:self-center"
      href={translatePath('/about')}
        >{t.data.nav.nav_links.about}</NavLink
      >
      <NavLink class="relative text-lg active:font-bold hover:before:content-['▶'] hover:before:absolute hover:before:top-0 hover:before:-left-7 lg:hover:before:-left-6 hover:before:text-xl hover:before:self-center"
      href={translatePath('/work')}
        >{t.data.nav.nav_links.work}</NavLink
      >
      <NavLink class="relative text-lg active:font-bold hover:before:content-['▶'] hover:before:absolute hover:before:top-0 hover:before:-left-7 lg:hover:before:-left-6 hover:before:text-xl hover:before:self-center"
      href={translatePath('/tools')}
        >{t.data.nav.nav_links.tools}</NavLink
      >
    </div>
    <div class="flex justify-center gap-6 p-3 xxs:gap-5 xxs:py-3 xxs:px-5 lg:w-full lg:py-0 lg:px-5 lg:flex lg:justify-between lg:gap-7" slot="outside-drawer">
      <Modal
        client:only="solid"
        modalName="locale"
        buttonLabel={t.data.locale_picker.button_label}
        buttonStyle="bg-transparent"
      >
        <LocalePicker client:only="solid" />
        <Icon slot="icon" iconName="language" width={28} height={28} />
      </Modal>
      <Modal
        client:only="solid"
        modalName="search"
        buttonLabel={t.data.search.button_label}
        buttonStyle="bg-transparent"
      >
        <Search client:only="solid" t={t.data.search} />
        <Icon slot="icon" iconName="magnifier" width={28} height={28} />
      </Modal>
    </div>
  </NavMenuContainer>
</nav>
