---
import { getEntry } from 'astro:content'
import { Taxonomy } from '@/components/Taxonomy'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCategories } from '@/lib/collections/data'
import { defaultLang } from '@/utils/i18n/data'

const meta = await getEntry('meta', `${defaultLang}/site-data`)
const t = await getEntry('i18n', `${defaultLang}/translation`)
const categories = await getCategories(defaultLang)
---

<BaseLayout
  title={meta.data.blog.categories.title}
  description={meta.data.blog.categories.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <h1>{t.data.pages.blog.categories.title}</h1>
    <a class="classic-blue-link" href={'/blog'}
      >◀ {t.data.pages.blog.back_to_top}</a
    >
    <hr />
    <section class="category-cloud">
      {
        categories.data.map((category) => (
          <Taxonomy kind="categories" taxonomy={category} />
        ))
      }
    </section>
  </main>
</BaseLayout>
<style>
  main {
    h1 {
      margin-bottom: 1.25rem;
    }
    .category-cloud {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem 0.575rem;
    }
  }
</style>
