---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getEntry } from 'astro:content'
import TaxonomyList from '@/components/TaxonomyList.astro'
// import { getSortedContentEntries } from '@/lib/collections/contents'
import { defaultLang } from '@/utils/i18n/data'
import { getCategories } from '@/lib/collections/data'

const meta = await getEntry('meta', `${defaultLang}/site-data`)
const t = await getEntry('i18n', `${defaultLang}/translation`)
// const entries = await getSortedContentEntries('blog', defaultLang)
const categories = await getCategories(defaultLang)
// const categories = [...new Set(entries.flatMap((entry) => entry.data.category))]
---

<BaseLayout
  title={meta.data.blog.categories.title}
  description={meta.data.blog.categories.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <h1>{t.data.pages.blog.categories.title}</h1>
    <a class="back-to-link" href={'/blog'}>◀ {t.data.pages.blog.back_to_top}</a
    >
    <hr />
    <TaxonomyList taxonomyList={categories} />
  </main>
</BaseLayout>
<style>
  main {
    h1 {
      margin-bottom: 1.25rem;
    }
  }
</style>
