---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { getCollection, getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogList from '@/components/BlogList.astro'
import Pager from '@/components/Pager.astro'
import { LIMIT_PER_PAGE } from '@/consts'
import { formatArchiveDate } from '@/utils/formatArchiveDate'

export const getStaticPaths = (async ({ paginate }) => {
  const entries = (await getCollection('blog')).sort(
    (a, b) => a.data.publishedAt.valueOf() - b.data.publishedAt.valueOf()
  )
  const dates = [
    ...new Set(
      entries.map((entry) => formatArchiveDate(entry.data.publishedAt))
    ),
  ]

  return dates.flatMap((date) => {
    const displayEntries = entries.filter(
      (entry) => formatArchiveDate(entry.data.publishedAt) === date
    )

    return paginate(displayEntries, {
      pageSize: LIMIT_PER_PAGE,
      params: { date },
    })
  })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const meta = await getEntry('meta', 'site-data')
const { page } = Astro.props
const { date } = Astro.params
---

<BaseLayout
  title={`${meta.data.blog.title} - Archive: ${date}`}
  description={meta.data.blog.description}
>
  <main data-pagefind-ignore="all">
    <section>
      <h1>{date}</h1>
      <a href="/blog/archive/">◀ Back to Archive</a>
      <BlogList entries={page.data} kind="taxonomy" />
    </section>
    <Pager page={page} />
  </main>
</BaseLayout>
<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
  }
  h1 {
    text-transform: capitalize;
  }
</style>
