---
import { getEntry } from 'astro:content'
import Search from '@/components/Search.astro'
import LocalePicker from '@/components/LocalePicker.astro'
import { Modal } from '@/components/Modal/Modal'
import { Search as SolidSearch } from '@/components/Search/Search'
import { Icon } from '@/components/Icon'
import NavMenuContainer from './NavMenuContainer.astro'
import NavLink from './NavLink.astro'
import { getLocaleFromUrl, useTranslatedPath } from '@/utils/i18n/utils'

const locale = getLocaleFromUrl(Astro.url)
const translatePath = useTranslatedPath(locale)
const t = await getEntry('i18n', `${locale}/translation`)
---

<nav class="glassmorphism" data-pagefind-ignore="all">
  <a class="blog-title" href={translatePath('/')}>
    {t.data.blog_name}
  </a>
  <NavMenuContainer>
    <div class="nav-links">
      <NavLink href={translatePath('/')}>{t.data.nav.nav_links.home}</NavLink>
      <NavLink href={translatePath('/blog')}
        >{t.data.nav.nav_links.blog}</NavLink
      >
      <NavLink href={translatePath('/news')}
        >{t.data.nav.nav_links.news}</NavLink
      >
      <NavLink href={translatePath('/about')}
        >{t.data.nav.nav_links.about}</NavLink
      >
      <NavLink href={translatePath('/contact')}
        >{t.data.nav.nav_links.contact}</NavLink
      >
    </div>
    <div class="icon-links">
      <LocalePicker />
      <Search />
      <Modal client:only="solid" modalName="search" buttonLabel="search">
        <SolidSearch client:only="solid" t={t.data.search} />
        <Icon slot="icon" iconName="magnifier" width={30} height={30} />
      </Modal>
    </div>
  </NavMenuContainer>
</nav>
<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    height: 4.25rem;
    box-sizing: border-box;
    padding: 0.5rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: var(--fg);
      text-decoration: none;
    }
    a:not(.blog-title) {
      border-bottom: 2px solid transparent;
    }
    .blog-title {
      font-size: 1.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: 1024px) {
        grid-area: blog-title;
        place-self: center;
      }
    }
    .nav-links {
      display: grid;
      gap: 1.5rem;
      padding: 0.75rem 2.75rem;
      margin-left: 1.25rem;
      a {
        position: relative;
        font-size: 1.275rem;
        &.active {
          font-weight: 700;
        }
        &:hover::before {
          font-family: var(--base-font);
          content: '▶';
          position: absolute;
          top: 0;
          left: -1.65rem;
          font-size: 1.375rem;
          align-self: center;
        }
        @media (min-width: 768px) {
          font-size: 1rem;
        }
        @media (min-width: 1024px) {
          font-size: 1.275rem;
          position: relative;
          &:hover::before {
            font-family: var(--base-font);
            content: '▶';
            position: absolute;
            top: 0;
            left: -1.45rem;
            font-size: 1.25rem;
            align-self: center;
          }
        }
      }
      @media (min-width: 768px) {
        display: flex;
        gap: 3.25rem;
        padding: 0;
      }
      @media (min-width: 1024px) {
        grid-area: nav-links;
        display: grid;
        gap: 2rem;
        align-self: start;
        margin-left: 1.5rem;
        padding: 0;
      }
    }
    .icon-links {
      display: flex;
      justify-content: center;
      gap: 2.25rem;
      padding: 0.75rem 2.75rem;
      @media (min-width: 768px) {
        display: flex;
        justify-content: unset;
        gap: 2rem;
        padding: 0;
      }
      @media (min-width: 1024px) {
        padding: 0 0.5rem;
        grid-area: icon-links;
        display: flex;
        justify-content: space-between;
        gap: 1.75rem;
        align-self: end;
      }
    }
    @media (min-width: 768px) {
      height: 5.25rem;
      padding: 0.85rem 1.5rem;
    }
    @media (min-width: 1024px) {
      display: grid;
      gap: 1.5rem;
      grid-template-rows: 1fr 9fr;
      grid-template-columns: 1fr;
      grid-area: navigation;
      grid-template-areas:
        'blog-title'
        'nav-menu';
      align-items: start;
      position: sticky;
      padding: 1.75rem 1.85rem;
      margin: 0;
      width: 18rem;
      height: 100dvh;
      border-right: 1px solid var(--line);
    }
  }
</style>
