---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import { getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Pager from '@/components/Pager.astro'
import FormattedDate from '@/components/FormattedDate.astro'
import { Icon } from '@/components/Icon'
import { LIMIT_PER_PAGE } from '@/consts'
import { defaultLang } from '@/utils/i18n/data'
import { getSortedContentEntries } from '@/lib/collections/contents'

export const getStaticPaths = (async ({ paginate }) => {
  const entries = await getSortedContentEntries('news', defaultLang)

  return paginate(entries, {
    pageSize: LIMIT_PER_PAGE,
  })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { page } = Astro.props
const meta = await getEntry('meta', `${defaultLang}/site-data`)
const t = await getEntry('i18n', `${defaultLang}/translation`)
---

<BaseLayout
  title={meta.data.site.title}
  description={meta.data.site.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <section>
      <h1>{t.data.pages.news.title}</h1>
      <ul>
        {
          page.data.map((entry) => (
            <li>
              <article>
                <section class="date">
                  <div class="published">
                    <Icon iconName="publish" width={20} height={20} />
                    <FormattedDate
                      date={entry.data.publishedAt}
                      locale={defaultLang}
                    />
                  </div>
                  {entry.data.modifiedAt && (
                    <div class="updated">
                      <Icon iconName="update" width={20} height={20} />
                      <FormattedDate
                        date={entry.data.modifiedAt}
                        locale={defaultLang}
                      />
                    </div>
                  )}
                </section>
                <a
                  href={`/${entry.collection}/${entry.slug.split('/').pop()}`}
                  class="news-title"
                >
                  {entry.data.title}
                </a>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
    <Pager page={page} />
  </main>
</BaseLayout>
<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    ul {
      display: grid;
      gap: 1.25rem;
      padding: 0;
      li:not(li:last-child) {
        border-bottom: 1px solid var(--line);
        padding-bottom: 1.25rem;
      }
      article {
        display: grid;
        gap: 0.875rem;
        .date {
          display: flex;
          gap: 0.85rem;
          padding-top: 1rem;
          .published,
          .updated {
            display: flex;
            align-items: center;
            gap: 0.35rem;
          }
        }
        .news-title {
          color: var(--fg);
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.35;
          text-decoration: none;
        }
      }
    }
  }
  @media (min-width: 768px) {
    a.news-title {
      font-size: 1.85rem;
    }
  }
</style>
