---
import { getEntry } from 'astro:content'
import Svg from '@/components/Svg/index.astro'
import { getLocaleFromUrl } from '@/i18n/utils'
import { UNSPLASH_BASE_URL, GITHUB_BASE_URL, ACCOUNT_ID } from '@/consts'

const locale = getLocaleFromUrl(Astro.url)
const t = await getEntry('i18n', `${locale}/translation`)
const year = new Date().getFullYear()
---

<footer data-pagefind-ignore="all">
  &copy; {year}
  {t.data.blog_name}. All rights reserved.
  <div class="social-links">
    <a
      href={`${GITHUB_BASE_URL}/${ACCOUNT_ID}`}
      title="Github"
      target="_blank"
      aria-label="Github"
    >
      <Svg iconName="github" width={32} height={32} />
    </a>
    <a
      href={`${UNSPLASH_BASE_URL}/@${ACCOUNT_ID}`}
      title="Unsplash"
      target="_blank"
      aria-label="Unsplash"
    >
      <Svg iconName="unsplash" width={32} height={32} />
    </a>
    <a href={`/${locale}/rss.xml`} title="RSS" aria-label="RSS">
      <Svg iconName="rss" width={32} height={32} />
    </a>
  </div>
</footer>
<style>
  footer {
    grid-area: footer;
    padding: 2.5rem 1rem 3.75rem 1rem;
    color: var(--fg);
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1.875rem;
    margin-top: 1.875rem;
  }
  .social-links a {
    text-decoration: none;
    & svg {
      fill: var(--fg);
      &:hover {
        fill: var(--gray);
      }
    }
  }
</style>
