---
import { getEntryBySlug, getEntry } from 'astro:content'
import Svg from '@/components/Svg/index.astro'
import { getLocaleFromUrl } from '@/utils/i18n/getLocaleFromUrl'
import { UNSPLASH_BASE_URL, GITHUB_BASE_URL, ACCOUNT_ID } from '@/consts'

const locale = getLocaleFromUrl(Astro.url)
const t = await getEntry('i18n', `${locale}/translation`)
const privacyPolicyPage = await getEntryBySlug(
  'page',
  `${locale}/privacy-policy`
)
const year = new Date().getFullYear()
---

<footer data-pagefind-ignore="all">
  <span>
    &copy; {year}
    {t.data.blog_name}. All rights reserved.
  </span>
  {
    privacyPolicyPage && (
      <a href={`/${locale}/${privacyPolicyPage.slug.split('/').pop()}/`}>
        {privacyPolicyPage.data.title}
      </a>
    )
  }
  <div class="social-links">
    <a
      href={`${GITHUB_BASE_URL}/${ACCOUNT_ID}`}
      title="Github"
      target="_blank"
      aria-label="Github"
    >
      <Svg iconName="github" width={32} height={32} />
    </a>
    <a
      href={`${UNSPLASH_BASE_URL}/@${ACCOUNT_ID}`}
      title="Unsplash"
      target="_blank"
      aria-label="Unsplash"
    >
      <Svg iconName="unsplash" width={32} height={32} />
    </a>
    <a href={`/${locale}/rss.xml`} title="RSS" aria-label="RSS">
      <Svg iconName="rss" width={32} height={32} />
    </a>
  </div>
</footer>
<style>
  footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 0.85rem;
    padding: 2.25rem 1rem 3.75rem 1rem;
    color: var(--fg);
    text-align: center;
    a {
      color: var(--accent);
      &:hover {
        color: var(--accent-dark);
      }
    }
    .social-links {
      display: flex;
      justify-content: center;
      gap: 1.875rem;
      margin-top: 0.875rem;
      a {
        text-decoration: none;
        & svg {
          fill: var(--fg);
          &:hover {
            fill: var(--gray);
          }
        }
      }
    }
  }
</style>
