---
import type { HTMLAttributes } from 'astro/types'
import { type IconName, Icon } from './Icon'

type Props = {
  modalName: string
  iconName: IconName
  iconText?: string
  buttonLabel: string
  'data-border-image-url'?: string
} & Pick<HTMLAttributes<'div'>, 'class'>

const {
  modalName,
  iconName,
  iconText,
  buttonLabel,
  class: className,
} = Astro.props
---

<div id=`${modalName}-modal` class:list={['modal hidden', className]}>
  <div id=`${modalName}-wrapper` class="modal-wrapper pixel-border">
    <slot />
  </div>
</div>
<button
  type="button"
  id=`${modalName}-icon-button`
  class="modal-button"
  title={buttonLabel}
  aria-label={buttonLabel}
>
  <Icon iconName={iconName} width={32} height={32} />
  {iconText && <span class="button-label">{iconText}</span>}
</button>
<style>
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100dvh;
    padding-top: 2.25rem;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--modal-bg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    &.hidden {
      display: none;
    }
    .modal-wrapper {
      background-color: color-mix(in srgb, var(--bg) 97%, var(--fg) 3%);
      width: 100%;
      max-width: 38rem;
      max-height: 85vh;
      padding: 1.5rem 1rem;
      margin: 0 1.5rem;
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
  .modal-button {
    background-color: transparent;
    color: var(--fg);
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    .button-label {
      font-size: 1.255rem;
    }
  }
</style>
