---
import { Image } from 'astro:assets'
import { getEntry } from 'astro:content'
import type { Basic as Photo } from 'unsplash-js/dist/methods/photos/types'
import { getLocaleFromUrl } from '@/utils/i18n/getLocaleFromUrl'
import { toSnakeCase } from '@/utils/toSnakeCase'
import { getDateDiff } from '@/utils/getDateDiff'
import ProfileIcon from '@/components/ProfileIcon.astro'

type Props = {
  photo: Photo
  order: number
}

const locale = getLocaleFromUrl(Astro.url)
const t = await getEntry('i18n', `${locale}/translation`)
const meta = await getEntry('meta', 'en/site-data')
const { photo, order } = Astro.props
const {
  alt_description,
  description,
  created_at,
  links,
  urls,
  user,
  height,
  width,
} = photo
const createdAt = new Date(created_at)
const dateDiff = getDateDiff(createdAt, locale)
---

<div class="photo-gallery-item pixel-border">
  <a
    aria-label={`${t.data.photo_gallery_item.photo_label}${order}`}
    href={`${links.html}?utm_source=${toSnakeCase(meta.data.site.title)}&utm_medium=referral`}
  >
    <figure class="photo">
      <Image
        src={`${urls.raw}&w=1080`}
        alt={alt_description || description || ''}
        width={width}
        height={height}
        format="avif"
        loading="eager"
        quality={45}
      />
      <figcaption>{alt_description || description}</figcaption>
    </figure>
  </a>
  <section class="photo-metadata">
    <div class="photographer">
      <ProfileIcon
        alt={photo.user.username}
        src={photo.user.profile_image.small}
        size={25}
      />
      <span>{user.username}</span>
    </div>
    <span class="photo-date">
      {dateDiff}
    </span>
  </section>
</div>
<style>
  .photo-gallery-item {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    break-inside: avoid;
    .photo {
      margin: 0 auto;
      figcaption {
        display: none;
      }
    }
    .photo-metadata {
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 0.175rem 0.225rem 0.225rem 0.225rem;
      .photographer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .photo-date {
        margin-left: 0.5rem;
      }
    }
  }
  @media (min-width: 768px) {
    .photo-metadata {
      padding: 0.375rem 0.5rem 0.5rem 0.5rem;
    }
    .photo-gallery-item {
      margin-bottom: 1.5rem;
    }
  }
</style>
