---
import { getLocaleFromUrl } from '@/i18n/utils'

type Props = {
  taxonomyList: string[]
  kind: 'categories' | 'tags' | 'archive'
}

const locale = getLocaleFromUrl(Astro.url)
const { taxonomyList, kind } = Astro.props
---

{
  taxonomyList.length !== 0 ? (
    <ul
      class:list={[
        'taxonomy-list',
        {
          horizontal: kind === 'categories' || kind === 'tags',
          vertical: kind === 'archive',
        },
      ]}
    >
      {taxonomyList.flatMap((taxonomy) => (
        <li>
          <a href={`/${locale}/blog/${kind}/${taxonomy}/`}>
            {kind === 'tags' ? `#${taxonomy}` : taxonomy}
          </a>
        </li>
      ))}
    </ul>
  ) : (
    <p>Woops! No {kind} found..</p>
  )
}
<style>
  ul.taxonomy-list {
    padding-top: 1.25rem;
  }
  li {
    text-transform: capitalize;
  }
  .vertical {
    display: grid;
    gap: 1rem;
  }
  .horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }
</style>
