---
import { getEntry } from 'astro:content';
import { Icon } from '@/components/ui/Icon';
import { Modal } from '@/components/ui/Modal/Modal';
import { ACCOUNT_ID } from '@/lib/consts';
import { getLocaleFromUrl } from '@/utils/i18n/utils';

const locale = getLocaleFromUrl(Astro.url);
const t = await getEntry('i18n', `${locale}/translation`);
---

<!-- TODO: apply valid style to the Modal component -->
<div class="bmc-container">
  <Modal
    client:only="solid"
    modalName="buy_me_a_coffee"
    buttonLabel={t.data.bmc.button_label}
    buttonStyle='aaaaa'
    iconLabel={t.data.bmc.button_label}
  >
    <div class="bmc-modal">
      <iframe
        id="bmc-frame"
        title="Buy Me A Coffee"
        allow="payment"
        src={`https://buymeacoffee.com/widget/page/${ACCOUNT_ID}`}
        fetchpriority="low"
        loading="lazy"></iframe>
    </div>
    <Icon slot="icon" iconName="bmc" width={27} height={27} />
  </Modal>
  <div class="greeting">
    <p>{t.data.bmc.greeting_message}</p>
    <span class="ornament"></span>
  </div>
</div>
<style>
  .bmc-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem 0.375rem;
  }
  .bmc-modal {
    box-sizing: border-box;
    max-height: 77dvh;
  }
  iframe {
    width: 100%;
    height: 55dvh;
  }
  .greeting {
    font-size: 0.785rem;
    position: relative;
    padding: 0.2rem 0 0.2rem 1.75rem;
    margin: 1.25rem 0;
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: 0;
      width: 20px;
      height: 1px;
      transform: rotate(-38deg);
      box-sizing: border-box;
      background-color: var(--color-gray);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 20px;
      height: 1px;
      transform: rotate(38deg);
      box-sizing: border-box;
      background-color: var(--color-gray);
    }
  }
  .ornament {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 28px;
      height: 1px;
      transform: rotate(-25deg);
      box-sizing: border-box;
      background-color: var(--color-gray);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 28px;
      height: 1px;
      transform: rotate(25deg);
      box-sizing: border-box;
      background-color: var(--color-gray);
    }
  }
</style>
