---
import type { ImageMetadata } from 'astro'
import { Image as AstroImage } from 'astro:assets'

type Props = {
  src: string | ImageMetadata
  alt: string
}

const { alt, src } = Astro.props
---

<figure>
  <div class="image-wrapper">
    {typeof src === 'string' ? <img {alt} {src} /> : <AstroImage {alt} {src} />}
  </div>
  <figcaption>{alt}</figcaption>
</figure>
