---
import { getEntry } from 'astro:content';
import { BlogList } from '@/components/models/BlogList';
import { Pager } from '@/components/models/Pager';
import BaseLayout from '@/layouts/BaseLayout.astro';
import {
  getLocaleContentEntries,
  getSortedContentEntries,
} from '@/lib/collections/contents';
import { LIMIT_PER_PAGE } from '@/lib/consts';
import { langList } from '@/utils/i18n/data';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async ({ paginate }) => {
  const entries = await getSortedContentEntries('blog');

  return langList.flatMap((lang) => {
    const displayEntries = getLocaleContentEntries<'blog'>(entries, lang);

    return paginate(displayEntries, {
      pageSize: LIMIT_PER_PAGE,
      params: { locale: lang },
    });
  });
}) satisfies GetStaticPaths;

const { locale } = Astro.params;
const { page } = Astro.props;
const meta = await getEntry('meta', `${locale}/site-data`);
const t = await getEntry('i18n', `${locale}/translation`);
---

<BaseLayout
  title={meta.data.blog.title}
  description={meta.data.blog.description}
  og={{ show: true }}
>
  <main class="flex flex-col justify-between gap-16" data-pagefind-ignore="all">
    <section>
      <h1 class="text-4xl md:text-5xl font-extrabold mb-5">{t.data.pages.blog.title}</h1>
      <div class="flex flex-wrap gap-y-2 md:gap-y-3 gap-x-4 md:gap-x-6">
        <a class="text-base md:text-lg no-underline text-primary hover:text-primary-dim" href=`/${locale}/blog/categories/`>
          {t.data.pages.blog.categories.title}
        </a>
        <a class="text-base md:text-lg no-underline text-primary hover:text-primary-dim" href=`/${locale}/blog/tags/`>
          {t.data.pages.blog.tags.title}
        </a>
        <a class="text-base md:text-lg no-underline text-primary hover:text-primary-dim" href=`/${locale}/blog/archive/`>
          {t.data.pages.blog.archive.title}
        </a>
      </div>
      <BlogList
        entries={page.data}
        taxonomies={{ show: true, shouldDisplay: ['category', 'tags'] }}
      />
    </section>
    <Pager page={page} />
  </main>
</BaseLayout>
