---
import { Icon } from '@/components/Icon';
import { generateUniqueId } from '@/utils/generate-unique-id';
import { toBoolean } from '@/utils/to-boolean';
import type { Props as CalloutProps } from './Callout.astro';
import {
  calloutTitleIcon,
  calloutTitleText,
  calloutToggleCheck,
  calloutTitle as titleStyle,
} from './callout.css';
import { getCallout } from './callouts';

type Props = CalloutProps;

const {
  'data-callout-type': dataCalloutType,
  'data-expanded': dataExpanded,
  'data-expandable': dataExpandable,
} = Astro.props;
const uniqueId = generateUniqueId();
const isExpandable = toBoolean(dataExpandable);
const isExpanded = toBoolean(dataExpanded);
const callout = getCallout(dataCalloutType);
const calloutTitle: string | undefined = await Astro.slots.render('default');
---

{
  isExpandable ? (
    <>
      <label
        for={`callout-toggle-check-${dataCalloutType}-${uniqueId}`}
        class={titleStyle}
      >
        <Icon
          class={calloutTitleIcon}
          iconName={callout.icon}
          width={20}
          height={20}
        />
        <span class={calloutTitleText}>
          {calloutTitle ? <Fragment set:html={calloutTitle} /> : callout.label}
        </span>
      </label>
      <input
        type="checkbox"
        class={calloutToggleCheck}
        id={`callout-toggle-check-${dataCalloutType}-${uniqueId}`}
        checked={isExpanded === true ?? false}
      />
    </>
  ) : (
    <div class={titleStyle}>
      <Icon
        class={calloutTitleIcon}
        iconName={callout.icon}
        width={20}
        height={20}
      />
      <span class={calloutTitleText}>
        {calloutTitle ? <Fragment set:html={calloutTitle} /> : callout.label}
      </span>
    </div>
  )
}
