---
import { getEntry } from 'astro:content';
import ProfileImage from '@/assets/images/profile.png';
import { Article } from '@/components/models/Article';
import { Toc } from '@/components/models/Toc';
import { ContactForm } from '@/components/ui/ContactForm/ContactForm';
import { Icon } from '@/components/ui/Icon';
import { Modal } from '@/components/ui/Modal/Modal';
import { ProfileIcon } from '@/components/ui/ProfileIcon';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getLocaleFromUrl } from '@/utils/i18n/utils';
import type { MarkdownHeading } from 'astro';

type Props = {
  headings: MarkdownHeading[];
};

const locale = getLocaleFromUrl(Astro.url);
const meta = await getEntry('meta', `${locale}/site-data`);
const t = await getEntry('i18n', `${locale}/translation`);
const { headings } = Astro.props;
---

<BaseLayout
  title={meta.data.about.title}
  description={meta.data.about.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <Article kind="about">
      <section slot="metadata" class="flex flex-col gap-4">
        <h1 class="text-4xl xl:text-5xl font-extrabold">{t.data.pages.about.title}</h1>
        <div class="flex flex-col justify-center lg:justify-start md:flex-row place-items-center gap-4 md:gap-9 lg:gap-10 py-2 md:py-6 lg:py-9">
          <ProfileIcon
            alt={t.data.pages.about.my_name}
            src={ProfileImage}
            size={150}
          />
          <span class="text-xl font-bold">{t.data.pages.about.my_name}</span>
        </div>
        <div class="contact">
          <Modal
            client:only="solid"
            modalName="contact"
            buttonLabel={t.data.pages.about.contact_me}
            iconLabel={t.data.pages.about.contact_me}
            buttonStyle="bg-transparent"
          >
            <ContactForm client:only="solid" t={t.data.contact_form} />
            <Icon slot="icon" iconName="mail" width={28} height={28} />
          </Modal>
        </div>
        <Toc {headings} />
      </section>
      <section slot="content" class="prose prose-lg md:prose-xl dark:prose-dark">
        <slot />
      </section>
    </Article>
  </main>
</BaseLayout>
