---
import { Image } from 'astro:assets'
import { getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getLocaleFromUrl } from '@/i18n/utils'

const locale = getLocaleFromUrl(Astro.url)
const meta = await getEntry('meta', `${locale}/site-data`)
const t = await getEntry('i18n', `${locale}/translation`)
---

<BaseLayout
  title={meta.data.about.title}
  description={meta.data.about.description}
>
  <main data-pagefind-ignore="all">
    <h1>{t.data.pages.about.title}</h1>
    <section class="profile-section">
      <Image
        alt={t.data.pages.about.profile_img_alt}
        class="profile-icon"
        src="/blog-placeholder-about.jpg"
        width={180}
        height={180}
        format="avif"
        quality={50}
      />
      <span class="my-name">{t.data.pages.about.my_name}</span>
    </section>
    <hr />
    <article>
      <slot />
    </article>
  </main>
</BaseLayout>
<style>
  section.profile-section {
    padding: 1.75rem 0;
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 1.5rem;
  }
  @media (min-width: 768px) {
    section.profile-section {
      padding: 2.25rem 0;
      display: flex;
      justify-content: center;
      gap: 2.25rem;
    }
  }
  @media (min-width: 1024px) {
    section.profile-section {
      padding: 2.25rem 0;
      gap: 2.5rem;
      justify-content: start;
    }
  }
  .profile-icon {
    border-radius: 9999px;
    object-fit: cover;
  }
  section.profile-section div {
    display: grid;
  }
  span.my-name {
    font-size: 1.5rem;
    font-weight: 600;
  }
  article {
    padding: 0.5rem;
    & :global(a) {
      color: var(--black);
      text-decoration: none;
      & :global(span.heading-anchor-icon) {
        color: var(--black);
        margin-right: 0.5rem;
      }
      &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: var(--black);
      }
    }
  }
  @media (min-width: 768px) {
    article {
      padding: 1.25rem;
    }
  }
</style>
