---
import '@/styles/global.css';
import '@fontsource-variable/inter';
import { BaseHead } from '@/components/common/BaseHead';
import { Footer } from '@/components/common/Footer';
import { Navigation } from '@/components/common/Navigation';
import { LocaleStore } from '@/components/functional/LocaleStore/LocaleStore';
import { UrlStore } from '@/components/functional/UrlStore/UrlStore';
import { Toaster } from '@/components/ui/Toaster/Toaster';
import { getLocaleFromUrl } from '@/utils/i18n/utils';

export type Props = {
  title: string;
  description?: string;
  og: {
    show: boolean;
    image?: URL;
    height?: number;
    width?: number;
    type?: 'article' | 'website';
  };
};

const url = Astro.url;
const locale = getLocaleFromUrl(url);
const { title, description, og } = Astro.props;
---

<!doctype html>
<html lang={locale}>
  <head>
    <BaseHead {title} description={description ?? ''} {og} />
  </head>
  <body class="antialiased text-default bg-default-reverse break-words touch-manipulation" data-pagefind-body>
    <LocaleStore client:only="solid" {locale} />
    <UrlStore client:only="solid" {url} />
    <div class="mx-auto lg:m-m-0 pt-14 md:pt-20 lg:pt-0 grid grid-areas-main grid-rows-[1fr_auto] grid-cols-[100%] lg:grid-cols-[18rem_1fr]">
      <Navigation />
      <slot />
      <Footer />
    </div>
    <div id="modal" class="fixed top-0 left-0"></div>
    <Toaster client:only="solid" />
  </body>
</html>
