---
import 'katex/dist/katex.min.css'
import type { MarkdownHeading } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'
import Toc from '@/components/Toc.astro'
import Svg from '@/components/Svg/index.astro'
import { getLocaleFromUrl } from '@/i18n/utils'

type Props = {
  entry: CollectionEntry<'blog'>
  headings: MarkdownHeading[]
}

const locale = getLocaleFromUrl(Astro.url)
const { entry, headings } = Astro.props
const { data, collection, slug } = entry
const {
  title,
  description,
  category,
  tags,
  publishedAt,
  modifiedAt,
  heroImage,
} = data
const t = await getEntry('i18n', `${locale}/translation`)
---

<BaseLayout
  title={title}
  description={description ?? ''}
  og={{
    show: true,
    height: 630,
    width: 1200,
    image: new URL(
      `/og/${locale}/${collection}/${slug.slice(slug.indexOf('/') + 1)}.png`,
      Astro.url
    ),
    type: 'article',
  }}
>
  <main>
    <article>
      <section class="blog-metadata">
        <div class="hero-image">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="date-meta">
          <div>
            <Svg iconName="upload" width={20} height={20} />
            <FormattedDate date={publishedAt} locale={locale} />
          </div>
          {
            modifiedAt && (
              <div>
                <Svg iconName="update" width={20} height={20} />
                <FormattedDate date={modifiedAt} locale={locale} />
              </div>
            )
          }
        </div>
        <h1 class="entry-title">{title}</h1>
        <section class="taxonomies">
          <a href={`/${locale}/${collection}/categories/${category}/`}
            >{category}</a
          >
          {
            tags && (
              <ul class="tag-list">
                {tags.map((tag) => (
                  <li>
                    <a href={`/${locale}/${collection}/tags/${tag}/`}>#{tag}</a>
                  </li>
                ))}
              </ul>
            )
          }
        </section>
        <Toc
          headings={headings}
          data-border-image-url="url(/border-image.gif)"
        />
      </section>
      <hr />
      <section class="prose">
        <slot />
      </section>
      <hr />
      <section class="guides">
        <a class="back-to-link" href={`/${locale}/blog/`}
          >◀ {t.data.pages.blog.back_to_top}</a
        >
        <a class="back-to-link" href="#top"
          >{t.data.pages.blog.scroll_to_top} ▲</a
        >
      </section>
    </article>
  </main>
</BaseLayout>
<style>
  article {
    display: grid;
    gap: 0.5rem;
    hr {
      width: 100%;
    }
    .blog-metadata {
      display: grid;
      gap: 0.5rem;
      place-items: start;
      .date-meta {
        font-size: 1.15rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
      .taxonomies {
        font-size: 1.15rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.25rem;
        text-transform: capitalize;
        & a {
          color: var(--accent);
          text-decoration: none;
          &:hover {
            color: var(--accent-dark);
          }
        }
        ul.tag-list {
          display: flex;
          flex-wrap: wrap;
          gap: 0.65rem;
          margin: 0;
        }
      }
    }
    .prose {
      font-size: 1.15rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      font-family: var(--prose-font);
      line-height: 1.65;
      & :global(h2, h3, h4, h5, h6) {
        font-family: var(--base-font);
      }
      & :global(p) {
        color: var(--fg);
        margin-bottom: 1.25rem;
      }
      & :global(ul) {
        padding: 0.85rem 0 0.85rem 2.5rem;
        & :global(li) {
          list-style-type: square;
        }
      }
      & :global(ol) {
        padding: 0.85rem 0 0.85rem 2.5rem;
        & :global(li) {
          list-style-type: decimal;
        }
      }
      & :global(a) {
        color: var(--accent);
        text-decoration: underline;
        text-underline-offset: 3px;
        &:hover {
          color: var(--accent-dark);
        }
      }
      & :global(a):has(.heading-anchor-icon) {
        text-decoration: none;
        font-family: var(--base-font);
        & :global(span.heading-anchor-icon) {
          color: var(--fg);
          margin-right: 0.5rem;
        }
        &:hover {
          text-decoration: underline;
          text-underline-offset: 4px;
          text-decoration-color: var(--fg);
        }
      }
      & :global(code:not(figure[data-rehype-pretty-code-figure] code)) {
        font-size: 0.95rem;
        background-color: var(--gray);
        padding: 0.1rem 0.25rem;
        margin: 0 0.1rem;
        border-radius: 0.25rem;
      }
      & :global(table) {
        display: block;
        max-width: 86vw;
        border-collapse: collapse;
        table-layout: fixed;
        overflow-x: auto;
        text-align: center;
        margin: 1.25rem 0;
        & :global(th, td) {
          border: 2px solid var(--line);
          padding: 0.5rem 0.65rem;
        }
      }
    }
    .guides {
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
    }
  }
</style>
