---
import { type CollectionEntry, getEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Contact from '@/components/Contact.astro'
// import ContactForm from '@/components/islands/ContactForm'
import { getLocaleFromUrl } from '@/utils/i18n/getLocaleFromUrl'
import { useTranslatedPath } from '@/utils/i18n/useTranslatedPath'

type Props = {
  page: CollectionEntry<'page'>
}

const locale = getLocaleFromUrl(Astro.url)
const translatePath = useTranslatedPath(locale)
const { page } = Astro.props
const { data } = page
const { title, description } = data
const t = await getEntry('i18n', `${locale}/translation`)
---

<BaseLayout title={title} description={description ?? ''} og={{ show: true }}>
  <main data-pagefind-ignore="all">
    <article>
      <h1 class="page-title">{title}</h1>
      <hr />
      <section class="contact">
        <slot />
        <!-- <ContactForm client:only="solid-js" t={t.data.contact_form} /> -->
        <Contact />
      </section>
      <hr />
      <section class="guides">
        <a class="back-to-link" href={translatePath('/')}
          >◀ {t.data.pages.page.back_to_top}</a
        >
        <a class="back-to-link" href="#top"
          >{t.data.pages.page.scroll_to_top} ▲</a
        >
      </section>
    </article>
  </main>
</BaseLayout>
<style>
  article {
    display: grid;
    gap: 0.5rem;
    hr {
      width: 100%;
    }
    .page-title {
      line-height: 1.175;
    }
    .contact {
      font-size: 1.125rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      line-height: 1.65;
    }
  }
  .guides {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
</style>
