---
import type { CollectionEntry } from 'astro:content';
import { Article } from '@/components/models/Article';
import { FormattedDate } from '@/components/models/FormattedDate';
import { BuyMeACoffee } from '@/components/ui/BuyMeACoffee';
import { Icon } from '@/components/ui/Icon';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getSlugWithoutLocale } from '@/utils/get-slug-without-locale';
import { getLocaleFromUrl, useTranslatedPath } from '@/utils/i18n/utils';

type Props = {
  entry: CollectionEntry<'news'>;
};

const locale = getLocaleFromUrl(Astro.url);
const translatePath = useTranslatedPath(locale);
const { entry } = Astro.props;
const { data, collection, slug } = entry;
const { title, publishedAt, modifiedAt } = data;
const slugWithoutLocale = getSlugWithoutLocale(slug);
---

<BaseLayout
  title={title}
  description={title}
  og={{
    show: true,
    height: 630,
    width: 1200,
    image: new URL(
      translatePath(`/api/og/${collection}/${slugWithoutLocale}.png`),
      Astro.site
    ),
    type: 'article',
  }}
>
  <main>
    <Article kind="news">
      <section slot="metadata" class="flex flex-col gap-4">
        <h1 class="text-2xl sm:text-3xl xl:text-4xl font-extrabold leading-snug sm:leading-snug md:leading-snug xl:leading-normal">{title}</h1>
        <div class="text-sm xs:text-base sm:text-lg flex flex-wrap gap-x-4 gap-y-1">
          <div class="flex items-center gap-1.5">
            <Icon iconName="publish" width={20} height={20} />
            <FormattedDate date={publishedAt} locale={locale} />
          </div>
          {
            modifiedAt && (
              <div class="flex items-center gap-1.5">
                <Icon iconName="update" width={20} height={20} />
                <FormattedDate date={modifiedAt} locale={locale} />
              </div>
            )
          }
        </div>
      </section>
      <section slot="content" class="prose sm:prose-lg dark:prose-dark min-w-full">
        <slot />
      </section>
      <section slot="cta" class="flex flex-wrap items-center gap-x-7 gap-y-3">
        <BuyMeACoffee />
      </section>
    </Article>
  </main>
</BaseLayout>
