---
import { getEntry } from 'astro:content';
import { Icon } from '@/components/ui/Icon';
import { ACCOUNT_ID, GITHUB_BASE_URL, UNSPLASH_BASE_URL } from '@/lib/consts';
import { getLocaleFromUrl, useTranslatedPath } from '@/utils/i18n/utils';

const locale = getLocaleFromUrl(Astro.url);
const translatePath = useTranslatedPath(locale);
const t = await getEntry('i18n', `${locale}/translation`);
const privacyPolicyPage = await getEntry('page', `${locale}/privacy-policy`);
const sitePolicyPage = await getEntry('page', `${locale}/site-policy`);
const year = new Date().getFullYear();
---

<footer class="area-footer flex flex-col items-center gap-3.5 px-4 pt-9 pb-16 text-center" data-pagefind-ignore="all">
  <span>
    &copy; {year}
    {t.data.blog_name}. All rights reserved.
  </span>
  <div class="flex justify-center gap-7 text-primary hover:text-primary-dark">
    {
      privacyPolicyPage && (
        <a href={translatePath(`/${privacyPolicyPage.slug.split('/').pop()}/`)}>
          {privacyPolicyPage.data.title}
        </a>
      )
    }
    {
      sitePolicyPage && (
        <a href={translatePath(`/${sitePolicyPage.slug.split('/').pop()}/`)}>
          {sitePolicyPage.data.title}
        </a>
      )
    }
  </div>
  <div class="flex justify-center gap-7 mt-3.5">
    <a
      href={`${GITHUB_BASE_URL}/${ACCOUNT_ID}`}
      title="Github"
      target="_blank"
      aria-label="Github"
    >
      <Icon class="fill-default hover:fill-zinc-400" iconName="github" width={32} height={32} />
    </a>
    <a
      href={`${UNSPLASH_BASE_URL}/@${ACCOUNT_ID}`}
      title="Unsplash"
      target="_blank"
      aria-label="Unsplash"
    >
      <Icon class="fill-default hover:fill-zinc-400" iconName="unsplash" width={32} height={32} />
    </a>
    <a href={translatePath('/rss.xml/')} title="RSS" aria-label="RSS" class="no-underline">
      <Icon class="fill-default hover:fill-zinc-400" iconName="rss" width={32} height={32} />
    </a>
  </div>
</footer>
