---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCollection, getEntry } from 'astro:content'
import TaxonomyList from '@/components/TaxonomyList.astro'
import { formatArchiveDate } from '@/utils/formatArchiveDate'
import { langList } from '@/i18n/data'

export const getStaticPaths = (() => {
  return langList.map((lang) => ({ params: { locale: lang } }))
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const entries = await getCollection('blog')
const publishedEntries = entries.filter(
  (entry) => entry.data.draft === 'published'
)
const dates = [
  ...new Set(
    publishedEntries.map((entry) => formatArchiveDate(entry.data.publishedAt))
  ),
].sort((a, b) => Number(b) - Number(a))
const { locale } = Astro.params
const meta = await getEntry('meta', `${locale}/site-data`)
const t = await getEntry('i18n', `${locale}/translation`)
---

<BaseLayout
  title={meta.data.blog.archive.title}
  description={meta.data.blog.archive.description}
  og={{ show: true }}
>
  <main data-pagefind-ignore="all">
    <h1>{t.data.pages.blog.archive.title}</h1>
    <a class="back-to-link" href={`/${locale}/blog/`}>
      ◀ {t.data.pages.blog.back_to_top}
    </a>
    <hr />
    <TaxonomyList kind="archive" taxonomyList={dates} />
  </main>
</BaseLayout>
